name: Check Commit Message

on:
  push:
    branches:
      - main # Adjust this to the desired branch

jobs:
  check_commit_message:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: checking hostname
        run: |
            hostname
            pwd
            date
        
      - name: Validate Commit Message
        run: |
          commit_message=$(git log -1 --pretty=%B)
          if [[ ! $commit_message =~ ^\[JIRA-[0-9]+\] ]]; then
            echo "Error: Commit message should start with [JIRA-TICKET-NUMBER]"
            exit 1
          fi

