name: Check Commit Message and More

on:
  push:
    branches:
      - main # Adjust this to the desired branch

jobs:
  check_commit_message:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Checking hostname
        run: |
          hostname
          pwd
          date
          ls
      - name: Validate Commit Message
        run: |
          commit_message=$(git log -1 --pretty=%B)
          if [[ ! $commit_message =~ ^\[JIRA-[0-9]+\] ]]; then
            echo "Error: Commit message should start with [JIRA-TICKET-NUMBER]"
            exit 1
          fi

  another_job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run Another Job
        run: |
          pwd
          echo "Running another job"
          # Add more steps as needed for this job

  hostname check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run Yet Another Job
        run: |
          echo "Running yet another job"
          hostname
          
          # Add more steps as needed for this job
